@font-face {
  font-family: themeFont;
  src: url(../assets/Blackcastlemf-BG5n.ttf);
}

@font-face {
  font-family: iconFont;
  src: url(../assets/DonjonikonsRegular-VABy.ttf);
}

:root {
  --themeRedPop:#e8443c;
  --themeRedLessPop: #e94445;
  --themeBlue: #264c5e;
  --themeRedMuted: #a34c50;
  --themeOffWhite: #cec2ae;
  --themeRedDark: #4a2932;
}

body {
  background-color: var(--themeOffWhite);
}

#contentContainer {
  text-align: center;
  padding-left: 20%;
  padding-right: 20%;
}

@media screen and (max-width: 1500px){
  #contentContainer {
    padding-left: 5%;
    padding-right: 5%;
  }
}

@media screen and (max-width: 1200px){
  #contentContainer {
    padding-left: 1%;
    padding-right: 1%;
  }
}

.title {
  font-family: themeFont;
  color: var(--themeRedPop);
  font-size: 5vh;
  font-weight: 50;
}

.divBlocks {
  display: block;
  background: white;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 20px;
}

.flex-container {
  display: flex;
}

.divInlineBlocks {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: left;
}

#searchContainer {
  width: 30%;
  min-width: 250px;
  min-height: 300px;
  height: 40vh;
}

#addContainer {
  width: 70%;
  min-width: 620px;
  overflow-y: auto;
  padding: 0px;
  text-align: center;
  min-height: 300px;
  height: 40vh;
}

.searchBar {
  background-color: #FDF1DC;
  width: 100%;
  border: 1px solid black;
}

.searchResultsUnit {
  font-family: 'Noto Sans', 'Myriad Pro', Calibri, Helvetica,
      Arial, sans-serif;
  border-bottom: 1px solid black;
  text-align: left;
  padding: 5px;
  background-color: #FDF1DC;
}

.searchResultsUnit:hover {
  color: #922610;
  cursor: pointer;
  border-color: #922610;
  text-decoration: underline;
}

#searchResults {
  height: calc(100% - 21px);
  overflow-y: auto;
}

.unit {
  padding: 30px;
  background-color: var(--themeRedDark);
  margin: 5px;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  color: var(--themeOffWhite);
}

.unit:hover {
  cursor: pointer;
  background-color: var(--themeRedMuted);
}